.form {
  padding: 10px 0;
  display: flex;
  align-items: stretch;
}

.form > .field {
  width: 100%;
  padding: 10px 5px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: 1px solid rgb(236, 236, 236);
}

.form > .field:focus {
  outline: 1px solid rgb(90, 147, 221);
  transition: all 0.3s linear;
}

.form > .btn {
  height: 100%;
  padding: 10px 25px;
  border-radius: 0 10px 10px 0;
  border: none;
  background: rgb(90, 147, 221);
  outline: 1px solid rgb(90, 147, 221);
  cursor: pointer;
}
